
.header--tag--skills{
    font-family: "Ibarra Real Nova", serif;
   font-size: 1.5rem;
   font-weight: bold;
   overflow-y: hidden;
   
}
.skill--tag::-webkit-scrollbar {
    width: 1px;
    cursor: pointer;

  }
   
.skill--tag::-webkit-scrollbar-track {
  background: transparent;
  cursor: pointer;
    background: transparent
  }
   
.skill--tag::-webkit-scrollbar-thumb {
    backdrop-filter: blur(13px);
    background: rgba(175, 194, 6, 0.64);
    border:none;
    cursor: pointer;

    border-radius: 100px;
  }