.home--page--tag{
    display: flex;
    height:100vh;
    margin-top: 20%;
}
.line{
    border-left: 6px solid rgb(169, 166, 4);
    height: 400px;
    width: 1%;
}
 .line:hover{
    transition: 1.2s;
    border-left: 6px solid rgb(233, 229, 12);
    height: 400px;
    width: 1%;
}
.list--tag--home--page>ul>li{
    list-style: none;
    font-family: "Ibarra Real Nova", serif;
    color:rgb(204, 203, 203);
    font-size: 1.8rem;
}
.box--tag{
    border:2px solid rgb(127, 131, 4);
    height:180px;
    width:280px;
    float: right;
    margin-right: 5%;
    margin-top:5%;
}
.box--tag:hover{
    transition: 1s;
    border:2px solid rgb(212, 219, 8); 
}
