#project--tag{

  margin-top:20%;
}

#card--tag{
  width:100%;
  opacity: 0.6;
  cursor:pointer;
  overflow-y: hidden;
}


#card--tag:hover{
  transition:1s;
  opacity: 1;

}
.btn--project:hover{
  transition: 2s;
  background-color: rgba(212, 231, 37, 0.246);
}


