#project--tag{

  margin-top:20%;
}

#card--tag{
  width:100%;
  opacity: 0.6;
  cursor:pointer;
  overflow-y: hidden;
}


#card--tag:hover{
  transition:1s;
  opacity: 1;

}
.btn--project:hover{
  transition: 2s;
  background-color: rgba(212, 231, 37, 0.246);
}
.sector--tag--overlay{
position: absolute;
background-attachment: fixed;
}


.popup-overlay {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  border:2px solid rgba(255, 255, 0, 0.404);
  padding: 50px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
 
}

.popup-close {
  
  cursor: pointer;
  background-color: transparent;
}

.text--project{
  font-family: "Ibarra Real Nova", serif;
  list-style-type: disc;
  text-align: left  ;
  width:100%;
  text-justify: inter-word;
}
#tch{
  font-family: "Ibarra Real Nova", serif;
}