.input--tag{
    background:transparent;
    border: none;
    border-bottom:2px solid rgb(117, 116, 116);
    outline:none;
    color:rgb(193, 191, 191);
}
.form--tag{
    display: flex;
    flex-direction: column;
 
}
.btn--input--form--tag{
    width:10%;
    height: 45px;
    border-radius:100px;
    
}